<!-- Universidad Simon Bolivar
Ingenieria de Software
Integrantes:
	Abelardo Salazar
	Amanda Camacho
	Fabiola Martinez
	Lautaro Villalon
	Maria Bracamonte
	Yarima Luciani
Descripcion: generador de grafica.
Ultima modificacion: 2 de noviembre 2017. -->
<!DOCTYPE HTML>
<html>
<head>  
	<title>Avanzómetro</title>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%load static%}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/canvasjs.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chart.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Creamos navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Avanzómetro</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Inicio</a></li>
      <li class="inactive"><a href="../grafico/form">Cambiar Filtros</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>Cerrar Sesión {{ user.username }}</a></li>
      {% else %}
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>Ingresar</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Creamos grafica -->
<div class="row">

<div class="col-sm-12">

	<script type="text/javascript"></script>
	<div id="chartContainer" style="height: 400px; width: 100%;"></div>

</div>
</div>

<div class="row" id="controles">

	<div id="buttonscontainer" class="col-sm-6">

	<!-- Botones para controlar el slider de trimestres -->
		<div id="botones" class="container">

				<button id="botonTiempo" class="btn btn-sm">
					<input type="number" id="numeroTiempo" value="500"><span>ms</span>
				</button>

				<button id="botonAplicar" class="btn btn-sm" >Aplicar Velocidad</button>

			<button id="botonReiniciar" class="btn btn-sm" onclick="reiniciar();">
				<a href="#">
					<span class="glyphicon glyphicon-repeat"></span>
				</a>
			</button>

			<button id="botonRegresar" class="btn btn-sm">
				<a href="#">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</a>
			</button>

			<button id="botonStop" class="btn btn-sm">
				<a href="#">
					<span class="glyphicon glyphicon-stop"></span>
				</a>
			</button>

			<button id="botonPlay" class="btn btn-sm" onclick="reproducir();">
				<a href="#">
					<span class="glyphicon glyphicon-play"></span>
				</a>
			</button>

			<button id="botonAvanzar" class="btn btn-sm">
				<a href="#">
					<span class="glyphicon glyphicon-arrow-right"></span>
				</a>
			</button>
		</div>
	</div>

	<!-- Slider de trimestres -->
	<div id="slidecontainer" class="col-sm-6">

	  <input type="range" min="1" max="15" value="1" class="slider" id="myRange" oninput="renderChart(this.value, false)" selected>

	</div>

	<script>
		var slider = document.getElementById("myRange");

		var tiempo = 500;

		window.onload = function () {
			renderChart('1', true);
		}

		botonAplicar.onclick = function() {
			var numeroTiempo = document.getElementById("numeroTiempo").value;
			tiempo = parseInt(numeroTiempo);
		} 

		function reproducir() {

			var play = true;
		    
		    var botonPlay = document.getElementById("botonPlay");

		    var botonStop = document.getElementById("botonStop");

		    var slider = document.getElementById("myRange");

		    var botonRegresar = document.getElementById("botonRegresar");

		    var botonAvanzar = document.getElementById("botonAvanzar");

		    

			botonAplicar.onclick = function() {
				var numeroTiempo = document.getElementById("numeroTiempo").value;
				tiempo = parseInt(numeroTiempo);
			} 
		    
		    botonStop.onclick = function () {
		    	play = false;
		        botonPlay.disabled = false;
		    }
		    
		    
		    function go() {
		   
		        slider.stepUp();
		        renderChart(slider.value);

		        if (play) {
		        	botonPlay.disabled = true;
		            setTimeout(go, tiempo);
		        }
		        
		    }
		    
		    go();
	   
		}

		function reiniciar() {

			var slider = document.getElementById("myRange");
	    	slider.stepDown(16);
	    	renderChart(slider.value);
	    
		}

		botonAvanzar.onclick = function() {
			slider.stepUp();
			renderChart(slider.value);
		}

		botonRegresar.onclick = function() {
			slider.stepDown();
			renderChart(slider.value);
		}

		function renderChart(value, animation) {

			var resultDic = JSON.parse('{{ resultDic | escapejs }}')
			var resultDic2 = JSON.parse('{{ resultDic2 | escapejs }}')
			var resultDic3 = JSON.parse('{{ resultDic3 | escapejs }}')
			var resultDic4 = JSON.parse('{{ resultDic4 | escapejs }}')

			var chart = new CanvasJS.Chart("chartContainer", {
			  animationEnabled: animation,

			  title:{
			    text: "{{carreraQuery}}"
			  },

			  subtitles:[
			  {
				text: "Trimestre ".concat(value),
				fontSize: 20,
			  }],

			  axisY: {
			    title: "Estudiantes",
			    suffix: '%',

			    maximum: 100,
			    interval: 25
			  },

			  axisX: {
			    title: "Créditos Aprobados",
			  },

			  data: [{        
			    type: "column",  
			    showInLegend: true, 
			    legendMarkerColor: "#48D1CC",
			    color : "#48D1CC",
			    legendText: "{{ cohorteQuery }}",
			    dataPoints: [ 
			      	{ y: resultDic[value]['0'], label: "0"},
			      	{ y: resultDic[value]['16'], label: "1-16"},
			      	{ y: resultDic[value]['32'], label: "17-32"},
			      	{ y: resultDic[value]['48'], label: "33-48"},
			      	{ y: resultDic[value]['64'], label: "49-64"},
			      	{ y: resultDic[value]['80'], label: "65-80"},
			      	{ y: resultDic[value]['96'], label: "81-96"}, 
			      	{ y: resultDic[value]['112'], label: "97-112"}, 
			      	{ y: resultDic[value]['128'], label: "113-128"}, 
			      	{ y: resultDic[value]['144'], label: "129-144"}, 
			      	{ y: resultDic[value]['160'], label: "145-160"}, 
			      	{ y: resultDic[value]['176'], label: "161-176"}, 
			      	{ y: resultDic[value]['192'], label: "177-192"},
			      	{ y: resultDic[value]['208'], label: "193-208"}, 
			      	{ y: resultDic[value]['224'], label: "209-224"}, 
			      	{ y: resultDic[value]['240'], label: "225-240"},
			      	{ y: resultDic[value]['256'], label: "241-..."},
			    ]
			  }

			  //Opcion 2 Cohorte   
			  {% if resultDic2 != "{}" %}
			    ,{type: "column",
			    axisXindex: 1,  
			    showInLegend: true, 
			    legendMarkerColor: "#FF8C00",
			    color: "#FF8C00",
			    legendText: "{{ cohorteQuery2 }}",
			    dataPoints: [ 
			      	{ y: resultDic2[value]['0'], label: "0"},
			      	{ y: resultDic2[value]['16'], label: "1-16"},
			      	{ y: resultDic2[value]['32'], label: "17-32"},
			      	{ y: resultDic2[value]['48'], label: "33-48"},
			      	{ y: resultDic2[value]['64'], label: "49-64"},
			      	{ y: resultDic2[value]['80'], label: "65-80"},
			      	{ y: resultDic2[value]['96'], label: "81-96"}, 
			      	{ y: resultDic2[value]['112'], label: "97-112"}, 
			      	{ y: resultDic2[value]['128'], label: "113-128"}, 
			      	{ y: resultDic2[value]['144'], label: "129-144"}, 
			      	{ y: resultDic2[value]['160'], label: "145-160"}, 
			      	{ y: resultDic2[value]['176'], label: "161-176"}, 
			      	{ y: resultDic2[value]['192'], label: "177-192"},
			      	{ y: resultDic2[value]['208'], label: "193-208"}, 
			      	{ y: resultDic2[value]['224'], label: "209-224"}, 
			      	{ y: resultDic2[value]['240'], label: "225-240"},
			      	{ y: resultDic2[value]['256'], label: "241-..."},
			    ]
			  }
			  {% endif %}

			  //Opcion 3 Cohorte   
			  {% if resultDic3 != "{}" %}
			    ,{type: "column",
			    axisXindex: 1,  
			    showInLegend: true, 
			    legendMarkerColor: "#3CB371",
			    color: "#3CB371",
			    legendText: "{{ cohorteQuery3 }}",
			    dataPoints: [ 
			      	{ y: resultDic3[value]['0'], label: "0"},
			      	{ y: resultDic3[value]['16'], label: "1-16"},
			      	{ y: resultDic3[value]['32'], label: "17-32"},
			      	{ y: resultDic3[value]['48'], label: "33-48"},
			      	{ y: resultDic3[value]['64'], label: "49-64"},
			      	{ y: resultDic3[value]['80'], label: "65-80"},
			      	{ y: resultDic3[value]['96'], label: "81-96"}, 
			      	{ y: resultDic3[value]['112'], label: "97-112"}, 
			      	{ y: resultDic3[value]['128'], label: "113-128"}, 
			      	{ y: resultDic3[value]['144'], label: "129-144"}, 
			      	{ y: resultDic3[value]['160'], label: "145-160"}, 
			      	{ y: resultDic3[value]['176'], label: "161-176"}, 
			      	{ y: resultDic3[value]['192'], label: "177-192"},
			      	{ y: resultDic3[value]['208'], label: "193-208"}, 
			      	{ y: resultDic3[value]['224'], label: "209-224"}, 
			      	{ y: resultDic3[value]['240'], label: "225-240"},
			      	{ y: resultDic3[value]['256'], label: "241-..."},
			    ]
			  }
			  {% endif %}

			  //Opcion 2 Cohorte   
			  {% if resultDic4 != "{}" %}
			    ,{type: "column",
			    axisXindex: 1,  
			    showInLegend: true, 
			    legendMarkerColor: "#7B68EE",
			    color: "#7B68EE",
			    legendText: "{{ cohorteQuery4 }}",
			    dataPoints: [ 
			      	{ y: resultDic4[value]['0'], label: "0"},
			      	{ y: resultDic4[value]['16'], label: "1-16"},
			      	{ y: resultDic4[value]['32'], label: "17-32"},
			      	{ y: resultDic4[value]['48'], label: "33-48"},
			      	{ y: resultDic4[value]['64'], label: "49-64"},
			      	{ y: resultDic4[value]['80'], label: "65-80"},
			      	{ y: resultDic4[value]['96'], label: "81-96"}, 
			      	{ y: resultDic4[value]['112'], label: "97-112"}, 
			      	{ y: resultDic4[value]['128'], label: "113-128"}, 
			      	{ y: resultDic4[value]['144'], label: "129-144"}, 
			      	{ y: resultDic4[value]['160'], label: "145-160"}, 
			      	{ y: resultDic4[value]['176'], label: "161-176"}, 
			      	{ y: resultDic4[value]['192'], label: "177-192"},
			      	{ y: resultDic4[value]['208'], label: "193-208"}, 
			      	{ y: resultDic4[value]['224'], label: "209-224"}, 
			      	{ y: resultDic4[value]['240'], label: "225-240"},
			      	{ y: resultDic4[value]['256'], label: "241-..."},
			    ]
			  }
			  {% endif %}
			  ]
			});
			chart.render();
			}
	</script>

</div>
</body>
</html>