<!-- Universidad Simon Bolivar
Ingenieria de Software
Integrantes:
	Abelardo Salazar
	Amanda Camacho
	Fabiola Martinez
	Lautaro Villalon
	Maria Bracamonte
	Yarima Luciani
Descripcion: form de ingreso de datos para generar grafica.
Ultima modificacion: 2 de noviembre 2017. -->
<!DOCTYPE html>
<html>
<head>
	<title>Filtros</title>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%load static%}
	<link rel="stylesheet" href="{% static 'css/form.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
	<script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/canvasjs.min.js'%}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Avanzómetro</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="inactive"><a href="/">Inicio</a></li>
      <li class="active"><a href="#">Cambiar Filtros</a></li>
      

    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>Cerrar Sesión {{ user.username }}</a></li>
      {% else %}
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>Ingresar</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

	<div class="row">
		<div class="col-sm-3"></div>

		<div id="columnaMedio" class="col-sm-6">
			<div class="row"></div>
			<div id="cuadrado" class="row">
				<p id="mensaje">
					<b>Ingrese los datos para visualizar la gráfica</b>
				</p>

				<form id="datosUsuario" method="POST" enctype="multipart/form-data"> 
					{% csrf_token %}

					<p id="mensaje1">
						<b>Ingrese las cohortes que desea comparar: </b>
					</p>

					<!-- Opcion 1 Cohorte -->
					<div class="form-group">
						<label for="numericInput1">Cohorte 1*:</label>
						<br>
						<input id="numericInput1" class="form-control" type="number" name="cohorteQuery" min="1967" max="2017" required>
					</div>

					<!-- Opcion 2 Cohorte -->
					<div class="form-group">
						<label for="numericInput2">Cohorte 2:</label>
						<br>
						<input id="numericInput2" class="form-control" type="number" name="cohorteQuery2" min="1967" max="2017">
					</div>

					<!-- Opcion 3 Cohorte -->
					<div class="form-group">
						<label for="numericInput3">Cohorte 3:</label>
						<br>
						<input id="numericInput3" class="form-control" type="number" name="cohorteQuery3" min="1967" max="2017">
					</div>

					<!-- Opcion 4 Cohorte -->
					<div class="form-group">
						<label for="numericInput4">Cohorte 4:</label>
						<br>
						<input id="numericInput4" class="form-control" type="number" name="cohorteQuery4" min="1967" max="2017">
					</div>

					<p id="mensaje2">
						<b>Ingrese una carrera: </b>
					</p>

					<div class="form-group">
						<label for="dropdown">Carrera*:</label>
						<select class="form-control" id="dropdown" name="carreraQuery" required>
				        <option value="0100Ing. Eléctrica">Ing. Eléctrica</option>
				        <option value="0200Ing. Mecánica">Ing. Mecánica</option>
				        <option value="0300Ing. Química">Ing. Química</option>
				        <option value="0600Ing. Electrónica">Ing. Electrónica</option>
				        <option value="1500Ing. de Materiales">Ing. de Materiales</option>
				        <option value="0800Ing. de la Computación">Ing. de la Computación</option>
				        <option value="1200Ing. Geofísica">Ing. Geofísica</option>
				        <option value="1700Ing. de Producción">Ing. de Producción</option>
				        <option value="1800Ing. de Telecomunicaciones">Ing. de Telecomunicaciones</option>
				        <option value="4000Ing. de Mantenimiento">Ing. de Mantenimiento</option>
				        <option value="0700Arquitectura">Arquitectura</option>
				        <option value="1100Urbanismo">Urbanismo</option>
				        <option value="0400Lic. en Química">Lic. en Química</option>
				        <option value="0500Lic. en Matemática">Lic. en Matemática</option>
				        <option value="0501Lic. en Matemáticas (Estadística y Matemáticas Computacionales)">Lic. en Matemáticas (Estadística y Matemáticas Computacionales)</option>
				        <option value="0502Lic. en Matemática (Didáctiva de la Matemática)">Lic. en Matemática (Didáctiva de la Matemática)</option>
				        <option value="1000Lic. en Física">Lic. en Física</option>
				        <option value="1900Lic. en Biología">Lic. en Biología</option>
				        <option value="3200Lic. en Comercio Internacional">Lic. en Comercio Internacional</option>
				        <option value="3000Lic. en Gestión de la Hospitalidad">Lic. en Gestión de la Hospitalidad</option>
				        <option value="0001Tecnología Eléctrica">Tecnología Eléctrica</option>
				        <option value="0002Tecnología Electrónica">Tecnología Electrónica</option>
				        <option value="0003Tecnología Mecánica">Tecnología Mecánica</option>
				        <option value="0004Mantenimiento Aeronáutico">Mantenimiento Aeronáutico</option>
				        <option value="0005Administración del Turismo">Administración del Turismo</option>
				        <option value="0006Administración Hotelera">Administración Hotelera</option>
				        <option value="0007Administración del Transporte">Administración del Transporte</option>
				        <option value="0008Organización Empresarial">Organización Empresarial</option>
				        <option value="0009Comercio Exterior">Comercio Exterior</option>
				        <option value="0010Administración Aduanera">Administración Aduanera</option>
				      </select>
					</div>

					<p id="mensaje3">
						<b>*datos obligatorios</b>
					</p>
					
			</div>

			<div class="row">
				<div id="boton" class="form-group text-center">
						<button type="submit" class="btn btn-default">Enviar</button> 
				</div>
			</div>

			</form>
		</div>

		<div class="col-sm-3"></div>
	</div>
</div>

</body>
</html>